name: test-maven-verify.yml
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        runner:
          - ubuntu-24.04
          - windows-2022
          - macos-14
        java:
          - 21
        db:
          - type: mongodb
            name: ''  # not used for mongo
            username: ''  # not used for mongo
            password: ''  # not used for mongo
            port: 0  # not used for mongo
            version: 8
          - type: postgresql
            name: 'test'
            username: 'test'
            password: 'test'
            port: 5432
            version: 0  # not used for postgres
        # https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#example-expanding-configurations
        # https://docs.github.com/en/actions/how-tos/write-workflows/choose-what-workflows-do/run-job-variations
        include:
          - runner: windows-2022
            db.type: mongodb
            db.version: 6
    uses: ./.github/workflows/maven-verify.yml
    with:
      runner: ${{ matrix.runner }}
      java-version: ${{ matrix.java }}
      db-type: ${{ matrix.db.type }}
      db-name: ${{ matrix.db.name }}
      db-username: ${{ matrix.db.username }}
      db-password: ${{ matrix.db.password }}
      db-port: ${{ matrix.db.port }}
      db-version: ${{ matrix.db.version }}
