name: test-maven-verify.yml
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        runner:
          # https://github.com/actions/runner-images
          - ubuntu-24.04
          - windows-2025
          - macos-14
        java-version:
          - 21
        db-type:
          - mongodb
          - postgresql
        # https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#example-expanding-configurations
        # https://docs.github.com/en/actions/how-tos/write-workflows/choose-what-workflows-do/run-job-variations
        # https://docs.github.com/en/actions/reference/workflows-and-actions/expressions#operators
        include:
          - db-type: mongodb
            db-version: 8
          - runner: windows-2025
            db-type: mongodb
            db-version: 7 # depends on runner, see https://github.com/ankane/setup-mongodb
          - db-type: postgresql
            db-name: 'test'
            db-username: 'test'
            db-password: 'test'
            db-port: 54321
            db-version: 17
    uses: ./.github/workflows/maven-verify.yml
    with:
      runner: ${{ matrix.runner }}
      java-version: ${{ matrix.java-version }}
      db-type: ${{ matrix.db-type }}
      db-name: ${{ matrix.db-name || '' }}
      db-username: ${{ matrix.db-username || '' }}
      db-password: ${{ matrix.db-password || '' }}
      db-port: ${{ matrix.db-port || 0 }}
      db-version: ${{ matrix.db-version || 0 }}
